
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    /*we are doing because even if we add any padding or any border element ,it doesnt effect the width of it */
    box-sizing:border-box;
}

body{
background-color:yellow;
font-family: 'Roboto','sans-serif';
margin:0;
display: flex;
/* display : flex to center everything */
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
overflow: hidden;



/* as display is flex 
so we can use flex direction to se items column wise 
also we can use align item
if flex direction is column then the align item would be horizontally and if flex direction is row then it would be vertically
for row we use justify-content center
and also we have to give the height of the body so that the justify-content value should cam into effect
*/
}